<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html
  xmlns="http://www.w3.org/1999/xhtml"
  style="
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial,
      sans-serif;
    line-height: 1.65;
  "
>
  <head
    style="
      margin: 0;
      padding: 0;
      font-size: 100%;
      font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica,
        Arial, sans-serif;
      line-height: 1.65;
    "
  >
    <meta
      http-equiv="Content-Type"
      content="text/html; charset=utf-8"
      style="
        margin: 0;
        padding: 0;
        font-size: 100%;
        font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica,
          Arial, sans-serif;
        line-height: 1.65;
      "
    />
    <meta
      name="viewport"
      content="width=device-width"
      style="
        margin: 0;
        padding: 0;
        font-size: 100%;
        font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica,
          Arial, sans-serif;
        line-height: 1.65;
      "
    />
  </head>
  <body
    style="
      margin: 0;
      padding: 0;
      font-size: 100%;
      font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica,
        Arial, sans-serif;
      line-height: 1.65;
      height: 100%;
      background: #f8f8f8;
      width: 100% !important;
    "
  >
    <table
      class="body-wrap"
      style="
        margin: 0;
        padding: 0;
        font-size: 100%;
        font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica,
          Arial, sans-serif;
        line-height: 1.65;
        height: 100%;
        background: #f8f8f8;
        width: 100% !important;
      "
    >
      <tr
        style="
          margin: 0;
          padding: 0;
          font-size: 100%;
          font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica,
            Arial, sans-serif;
          line-height: 1.65;
        "
      >
        <td
          class="container"
          style="
            margin: 0 auto !important;
            padding: 0;
            font-size: 100%;
            font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica,
              Arial, sans-serif;
            line-height: 1.65;
            display: block !important;
            clear: both !important;
            max-width: 580px !important;
          "
        >
          <table
            style="
              margin: 0;
              padding: 0;
              font-size: 100%;
              font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica',
                Helvetica, Arial, sans-serif;
              line-height: 1.65;
              border-collapse: collapse;
              width: 100% !important;
            "
          >
            <tr
              style="
                margin: 0;
                padding: 0;
                font-size: 100%;
                font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica',
                  Helvetica, Arial, sans-serif;
                line-height: 1.65;
              "
            >
              <td
                align="center"
                class="masthead"
                style="
                  margin: 0;
                  padding: 80px 0;
                  font-size: 100%;
                  font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica',
                    Helvetica, Arial, sans-serif;
                  line-height: 1.65;
                  background: #71bc37;
                  color: white;
                "
              >
                <h1
                  style="
                    margin: 0 auto !important;
                    padding: 0;
                    font-size: 32px;
                    font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica',
                      Helvetica, Arial, sans-serif;
                    line-height: 1.25;
                    margin-bottom: 20px;
                    max-width: 90%;
                    text-transform: uppercase;
                  "
                >
                  PixelCardWallet
                </h1>
              </td>
            </tr>
            <tr
              style="
                margin: 0;
                padding: 0;
                font-size: 100%;
                font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica',
                  Helvetica, Arial, sans-serif;
                line-height: 1.65;
              "
            >
              <td
                class="content"
                style="
                  margin: 0;
                  padding: 30px 35px;
                  font-size: 100%;
                  font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica',
                    Helvetica, Arial, sans-serif;
                  line-height: 1.65;
                  background: white;
                "
              >
                <h2
                  style="
                    margin: 0;
                    padding: 0;
                    font-size: 28px;
                    font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica',
                      Helvetica, Arial, sans-serif;
                    line-height: 1.25;
                    margin-bottom: 20px;
                  "
                >
                  Привет, друг!
                </h2>

                <p
                  style="
                    margin: 0;
                    padding: 0;
                    font-size: 16px;
                    font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica',
                      Helvetica, Arial, sans-serif;
                    line-height: 1.65;
                    font-weight: normal;
                    margin-bottom: 20px;
                  "
                >
                  Мы рады, что вы решили стать частью нашей команды Остался один
                  маленький шаг. Подтвердите ваш email аккаунт нажав на кнопку
                  ниже
                </p>

                <table
                  style="
                    margin: 0;
                    padding: 0;
                    font-size: 100%;
                    font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica',
                      Helvetica, Arial, sans-serif;
                    line-height: 1.65;
                    border-collapse: collapse;
                    width: 100% !important;
                  "
                >
                  <tr
                    style="
                      margin: 0;
                      padding: 0;
                      font-size: 100%;
                      font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica',
                        Helvetica, Arial, sans-serif;
                      line-height: 1.65;
                    "
                  >
                    <td
                      align="center"
                      style="
                        margin: 0;
                        padding: 0;
                        font-size: 100%;
                        font-family: 'Avenir Next', 'Helvetica Neue',
                          'Helvetica', Helvetica, Arial, sans-serif;
                        line-height: 1.65;
                      "
                    >
                      <p
                        style="
                          margin: 0;
                          padding: 0;
                          font-size: 16px;
                          font-family: 'Avenir Next', 'Helvetica Neue',
                            'Helvetica', Helvetica, Arial, sans-serif;
                          line-height: 1.65;
                          font-weight: normal;
                          margin-bottom: 20px;
                        "
                      >
                        <a
                          href="{{conf_link}}"
                          class="button"
                          style="
                            margin: 0;
                            padding: 0;
                            font-size: 100%;
                            font-family: 'Avenir Next', 'Helvetica Neue',
                              'Helvetica', Helvetica, Arial, sans-serif;
                            line-height: 1.65;
                            color: white;
                            text-decoration: none;
                            display: inline-block;
                            background: #71bc37;
                            border: solid #71bc37;
                            border-width: 10px 20px 8px;
                            font-weight: bold;
                            border-radius: 4px;
                          "
                          >Подтвердить</a
                        >
                      </p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr
        style="
          margin: 0;
          padding: 0;
          font-size: 100%;
          font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica,
            Arial, sans-serif;
          line-height: 1.65;
        "
      >
        <td
          class="container"
          style="
            margin: 0 auto !important;
            padding: 0;
            font-size: 100%;
            font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica,
              Arial, sans-serif;
            line-height: 1.65;
            display: block !important;
            clear: both !important;
            max-width: 580px !important;
          "
        >
          <table
            style="
              margin: 0;
              padding: 0;
              font-size: 100%;
              font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica',
                Helvetica, Arial, sans-serif;
              line-height: 1.65;
              border-collapse: collapse;
              width: 100% !important;
            "
          >
            <tr
              style="
                margin: 0;
                padding: 0;
                font-size: 100%;
                font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica',
                  Helvetica, Arial, sans-serif;
                line-height: 1.65;
              "
            >
              <td
                class="content footer"
                align="center"
                style="
                  margin: 0;
                  padding: 30px 35px;
                  font-size: 100%;
                  font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica',
                    Helvetica, Arial, sans-serif;
                  line-height: 1.65;
                  background: none;
                "
              >
                <p
                  style="
                    margin: 0;
                    padding: 0;
                    font-size: 14px;
                    font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica',
                      Helvetica, Arial, sans-serif;
                    line-height: 1.65;
                    font-weight: normal;
                    margin-bottom: 0;
                    color: #888;
                    text-align: center;
                  "
                >
                  Отправлено
                  <a
                    href="#"
                    style="
                      margin: 0;
                      padding: 0;
                      font-size: 100%;
                      font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica',
                        Helvetica, Arial, sans-serif;
                      line-height: 1.65;
                      color: #888;
                      text-decoration: none;
                      font-weight: bold;
                    "
                    >PixelCardWallet</a
                  >
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
